<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.admin.mapper.CskaoyanMallKeywordMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall.admin.bean.CskaoyanMallKeyword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="is_hot" jdbcType="BIT" property="isHot" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, keyword, url, is_hot, is_default, sort_order, add_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cskaoyan_mall_keyword
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="showKeyByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_keyword
  </select>

  <insert id="addKeyWord" parameterType="com.cskaoyan.mall.admin.bean.CskaoyanMallKeyword">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cskaoyan_mall_keyword
    (keyword,url,is_default,is_hot,add_time,update_time) values(
    #{keyword},
    #{url},
    #{isDefault},
    #{isHot},
    #{addTime},
    #{updateTime})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cskaoyan_mall_keyword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.mall.admin.bean.CskaoyanMallKeyword">
    update cskaoyan_mall_keyword
    <set>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="isHot != null">
        is_hot = #{isHot,jdbcType=BIT},
      </if>
      <if test="isDefault != null">
        is_default = #{isDefault,jdbcType=BIT},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cskaoyan.mall.admin.bean.CskaoyanMallKeyword">
    update cskaoyan_mall_keyword
    set keyword = #{keyword,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      is_hot = #{isHot,jdbcType=BIT},
      is_default = #{isDefault,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>